[D-BUS Service]
Name=org.fedoraproject.FirewallD1
Exec=/usr/libexec/palisade-firewalld-compat
User=root
SystemdService=palisade-firewalld-compat.service
